.taskcard-content {
    height: 60px;
    margin: 1.6rem 8rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    background-color: #fff;
    border-radius: 0.2rem;
    border: 1px solid #ccc;

    transform: rotateY(0);
    transition: .3s ease;
}

.taskcard-content:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotateY(10deg);
}

.taskcard-info--complete {
    text-decoration: line-through;
}

/* #CCCCCC */